@font-face {
    font-family: 'BMJUA';
    font-weight: normal;
    font-style: normal;
    src: url('https://gitlab.com/syndrome9907/test-font/blob/master/BMJUA_ttf.eot');
    src: url('https://gitlab.com/syndrome9907/test-font/blob/master/BMJUA_ttf.eot?#iefix') format('embedded-opentype'),
         url('https://gitlab.com/syndrome9907/test-font/blob/master/BMJUA.woff') format('woff'),
         url('https://gitlab.com/syndrome9907/test-font/blob/master/BMJUA.ttf') format('truetype'),
         url('https://gitlab.com/syndrome9907/test-font/blob/master/BMJUA.svg#BMJUA') format('svg');
    
}